registry=https://artifactory.fis.dev/artifactory/api/npm/fis-npm-dev/
_auth =ZTU1NTU2MjI6QUtDcDhoeXRIakw1YXFTWU5YMjlDaTZtbjM3NWFhYnZtWmUzRjkxOVJibjF2Z1FTZjhyM0JkdXBoeEpQaG16UHgyMlB1cU1veg==
email =arthur.olano@fisglobal.com
proxy=http://proxy.fisdev.local:8080/
https_proxy=https://proxy.fisdev.local:8080
always-auth=true