registry=https://repo.devcloud.sungard.com/artifactory/api/npm/fis-npm
_auth=ZTU1NTU2MjI6QUtDcDhoeXRIakw1YXI2UVRWc1RaSzFLQUVKTjd1WXZkY0dlTGg1cExBb0Z4cGVHMlIxclE3TmUxQktDYUdablJYWjZ1ZUZxNw==
always-auth=true
email =arthur.olano@fisglobal.com