
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

mat-form-field{
    width: 400px;
}

ruf-card{
    height: 81vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.95;
    max-width: 100%;
}

table{
    margin-left: 5vh;
    margin-right: 5vh;
    margin-bottom: 5vh;
}

ruf-banner-brand{
    background-color: white;
    padding-left: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
}


